<form class="col-8 m-auto border border-primary p-4">
    <div class="form-group">
      <label for="tensp">Tên SP</label>
      <input id="tensp" name="tensp" [(ngModel)]="sp.tensp" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="giasp">Giá</label>
      <input id="giasp" name="giasp" [(ngModel)]="sp.giasp" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="urlImage">Url ảnh</label>
      <input id="urlImage" name="urlImage" [(ngModel)]="sp.urlImage" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input id="code" name="code" [(ngModel)]="sp.code" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="ngay">Ngày</label>
      <input id="ngay" name="ngay" [(ngModel)]="sp.ngay" type="date" class="form-control">
    </div>
    <div class="form-group">
      <label for="mota">Mô tả</label>
      <textarea id="mota" name="mota" [(ngModel)]="sp.mota" class="form-control"></textarea>
    </div>
    <button class="btn btn-info btn-block" (click)="capnhatSP()">Cập nhật</button>
  </form>
  