<div class="container">
  <header class="bg-secondary">
    <h1 class="text-center text-white p-3">TLW's Shop</h1>
  </header>
  <nav class="bg">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
                routerLink="/"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/sanpham">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/lienhe">Liên hệ</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tài Khoản
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" routerLink="/dangnhap"
                    >Đăng nhập</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Đăng kí</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Quản trị sản phẩm
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" routerLink="admin/themSP"
                    >Thêm sản phẩm</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" routerLink="admin/sp"
                    >Danh sách sản phẩm</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#" routerLink="admin/thoat"
                    >Thoát</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </nav>

  <main>
    <article class="col-md-12 bg-light p-3">
      <router-outlet></router-outlet>
    </article>
    <!-- <aside class="col-md-3 bg-secondary"> </aside>     -->
  </main>
  <footer class="bg-secondary text-white text-center p-2">Đào Duy Tùng</footer>
</div>
