table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

td.description {
  max-width: 200px; /* Điều chỉnh chiều rộng tối đa của cột Mô tả */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.product-name {
  max-width: 150px; /* Điều chỉnh chiều rộng tối đa của cột Tên sản phẩm */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  padding: 10px;
  background-color: rgb(0, 174, 255);
  
}
