<div class="container">
  <nav class="thanhmenu bg-white" style="height: 60px"></nav>
  <nav class="bg-primary p-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" router="/">Quản Lý Dự Án Fpoly</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Giới Thiệu</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dự Án
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" routerLink="duan/them"
                    >Thêm Dự Án</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" routerLink="duan/"
                    >Danh Sách Dự Án</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Task
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" routerLink="task/them"
                    >Thêm Task</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" routerLink="task/"
                    >Danh sách Task</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Nhân viên
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" routerLink="nhanvien/them"
                    >Thêm Nhân Viên</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" routerLink="nhanvien/"
                    >Danh Sách Nhân Viên</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </nav>
  <main class="d-flex" style="min-height: 450px">
    <article class="col-md-12 bg-white" id="cotgiua">
      <router-outlet></router-outlet>
    </article>
  </main>

  <footer
    class="bg-dark text0-white"
    style="height: 45px; color: white; text-align: center"
  >
    Đào Duy Tùng
  </footer>
</div>
